nav 
    a(href="/main") The Magical Report
    a(href='/contact') Mailing List
    a(href='/testimonies') Reviews
    a(href='/admin/contactlog') Contact Log
    button#theme(type='button', name='theme') Toggle: Dark Mode